.default {
    background-color: #fff;
    min-width: 10px;
}
.active {
    min-width: 10px;
    background-color: rgb(69, 238, 69);
    border-radius: 5px;
    padding: 0 2px;
}
.mistake {
    min-width: 10px;
    background-color: red;
    height: 100%;
    color: white;
    padding: 0 2px;
    border-radius: 5px;
}
.passed {
    min-width: 10px;
    color: rgb(19, 218, 19);
}
